$font-family: "Open Sans", sans-serif;
$color: #f7600e;

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1em;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 1em;
  color: #6e6f72;
}

.mm-panel {
  background-color: #e8e8e8;
}
.mm-navbar__title {
  background: #726a52;
}

.mm-navbar__title {
  span {
    color: white;
  }
}

.mm-listitem__text {
  font-family: $font-family;
  font-weight: 600;
}

.mm-btn {
  background: #726a52;
}

header {
  background: url("../image/background_header.png");
  .header-menu {
    padding: 2.9em 0;
    .header-logo {
      float: left;
      img {
        width: 9.8em;
        margin-left: 2.1em;
      }
    }
    .menu-button {
      display: flex;
      justify-content: flex-end;
      span {
        color: white;
        padding-right: 1em;
      }
      a {
        position: relative;
        height: 20px;
        width: 28px;
        .line_top {
          height: 2px;
          width: 25px;
          background-color: white;
          position: absolute;
          top: 5px;
        }
        .line_mid {
          height: 2px;
          width: 25px;
          background-color: white;
          position: absolute;
          top: 13px;
        }
        .line_bot {
          height: 2px;
          width: 25px;
          background-color: white;
          position: absolute;
          bottom: -4px;
        }
      }
    }
  }
  .header-content {
    margin-top: 7em;
    text-align: center;
    h1 {
      font-size: 4.69em;
      letter-spacing: -3px;
      font-weight: bold;
      color: white;
      span {
        color: $color;
      }
    }
    p {
      color: #fff;
      font-size: 1.6em;
      padding-top: 4px;
    }
    .header-content-button {
      margin-top: 4.8em;
      a:first-child {
        background-color: #f7600e;
        color: #fff;
        padding: 0.9em 4.6em;
        border-radius: 5px;
        margin-right: 30px;
      }
      a:last-child {
        color: #fff;
        padding: 0.9em 3.5em;
        border-radius: 5px;
        border: 1px solid #666a70;
      }
    }
  }
  .header-scrolldown {
    padding: 13em 0 3em 0;
    text-align: center;
    img {
      width: 34px;
    }
  }
}

main {
  .services {
    padding: 6.5em 0;
    .services-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0 3em;
      .item-image {
        border: 1px solid #c5c7ca;
        border-radius: 50%;
        display: flex;
        align-items: center;
        width: 151px;
        justify-content: center;
        margin: 0 auto;
        height: 151px;
        img {
            width: 3.5em;
        }
      }
      .width-fixed{
          img{
              width: 2.2em;
          }
      }

      .item-content{
        margin-top: 1.6em;
          h4{
              font-weight: 600;
              font-size: 1em;
              color: #3b434c;
          }
          p{
              margin-top: 1.5em;
              font-size: .9em;
              color: #6c7279;
              line-height: 25px;
          }
      }
    }
  }
}

/* @media */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 11px;
  }
}
